In [1]:
import pandas as pd

#Ramps_0.csv
ramps_0_df = pd.read_csv("../data/Ramps_0.csv")

#Roadway_Centerline_2.csv
roadway_df = pd.read_csv("../data/Roadway_Centerline_2.csv")

#Sidewalk_Hazards_1.csv.csv
hazards_df = pd.read_csv("../data/Sidewalk_Hazards_1.csv")

#Sidewalks_3.csv
sidewalks_df = pd.read_csv("../data/Sidewalks_3.csv")

In [3]:
ramps_0_df.head()

,FID,ObjectID,ObjectID_1,CREEC_Type,CREEC_Posi,RAMP_MATL,THR_WIDTH,LAND_EXIST,LANDING_SL,LANDING_CO,...,I_NEARFID,PARC_ID,AT_INT,NEAR_ANGLE,Bearing,Dwy,RAMP_ID_1,Ramp_ID_d,x,y
0,1,1249,1249,Parallel,Uni-Directional,Portland Cement Concrete,4.0,Yes,2.3,Excellent (Like new),...,5824,,Y,0.0,255.310939,,8998.1,8998.1,-71.165906,42.341852
1,2,823,823,Parallel,Uni-Directional,Portland Cement Concrete,4.0,Yes,9.7,Fair (Minor/Hairline damage with no impact to ...,...,3021,,Y,0.0,3.625703,,5999.1,5999.1,-71.055954,42.365543
2,3,1250,1250,Perpendicular,Uni-Directional,Portland Cement Concrete,4.5,Yes,1.9,Excellent (Like new),...,2099,,Y,0.0,147.404378,,4375.2,4375.2,-71.137155,42.349207
3,4,824,824,Parallel,Uni-Directional,Portland Cement Concrete,4.0,,0.0,,...,3421,,Y,0.0,265.705311,,6880.1,6880.1,-71.055531,42.365034
4,5,1251,1251,Perpendicular,Uni-Directional,Portland Cement Concrete,5.0,Yes,2.5,Fair (Minor/Hairline damage with no impact to ...,...,2099,,Y,0.0,70.955876,,4375.1,4375.1,-71.137100,42.349289

In [4]:
roadway_df.head()

,FID,PARENT,STATUS,LENGTH,GREENBOOK,HIGHWAY,GIS,JURISDICTI,QC_NOTE,FUN_CLASS,GRID,MIN_STATIO,MAX_STATIO,COUNCIL,DISTRICT1,District,NO_LABEL,RTE_SYS_ED,Shape__Length
0,1,ENNIS1,,392,Ennis Rd,ENNIS RD,1,PUBLIC WAY,,LO,0,0,392,7,2-02,2-02,0,,161.784164
1,2,COMMO4,,500,Common St,COMMON ST,1,PUBLIC WAY,,LO,0,0,500,1,1-1A,1-1A,0,,206.470292
2,3,ENTER1,,1132,Enterprise St,ENTERPRISE ST,1,PUBLIC WAY,,LO,0,0,1132,2,3-03,3-03,0,,466.764571
3,4,HARLE1,,612,Harlem St,HARLEM ST,1,PUBLIC WAY,,LO,0,0,612,4,3-03,3-03,0,,252.107495
4,5,COMMO5,,29000,Commonwealth Ave,COMMONWEALTH AV EB,1,PUBLIC WAY,,AR,0,0,29000,9,"1-10A, 1-1C, 2-04","1-10A, 1-1C, 2-04",1,,11949.902945

In [5]:
hazards_df.head()

,FID,Type,GlobalID,CreationDa,Creator,EditDate,Editor,x,y
0,1,Fixed pinch point <36” sidewalk width,cc67f93c-a292-4062-936c-47f67aebed17,8/7/2020 12:00:00 AM,Enmanuel.Raposo_stantec,8/7/2020 12:00:00 AM,Enmanuel.Raposo_stantec,-71.069782,42.381454
1,2,Trip hazards not due to tree roots,99d4c4f2-3ad6-466f-b4c0-47c516262904,5/27/2020 12:00:00 AM,Enmanuel.Raposo_stantec,5/27/2020 12:00:00 AM,Enmanuel.Raposo_stantec,-71.056617,42.295022
2,3,Trip hazards not due to tree roots,5c8f0a22-619e-4cd6-a5bb-960b79ca7d49,8/7/2020 12:00:00 AM,Enmanuel.Raposo_stantec,8/7/2020 12:00:00 AM,Enmanuel.Raposo_stantec,-71.069829,42.381396
3,4,Trip hazards not due to tree roots,9aa27356-f282-4ab5-867d-0df0f295487c,5/27/2020 12:00:00 AM,Victor.Vega@stantec.com_stantec,5/27/2020 12:00:00 AM,Victor.Vega@stantec.com_stantec,-71.061326,42.296611
4,5,Trip hazards not due to tree roots,2ecf85c5-20e6-44d5-bdb4-61588510993e,5/27/2020 12:00:00 AM,Enmanuel.Raposo_stantec,5/27/2020 12:00:00 AM,Enmanuel.Raposo_stantec,-71.061093,42.293839

In [6]:
sidewalks_df.head()

,FID,SWK_ID,MATERIAL,SWK_WIDTH,DISTRICT,SWK_AREA,PARENT,SEG_ID,SIDE,CG_ID,Rpr_Yr,New_SCI,Recon_Date,HPNETWORK,TEST_AREA,COST_RECON,GOODCANDID,TOTAREA,Shape__Area,Shape__Length
0,1,1,CC,5.5,CHARLESTOWN,3648,ALBIO1,ALBIO1_0,LEFT,24842,0,85,NaN,0,0.00,0.0,0,3648.36,621.585938,597.908292
1,2,1440,CC,8,SOUTH DORCHESTER,1296,ASHMO3,ASHMO3_3808,LEFT,1433,0,0,NaN,1,1295.69,19435.3,0,1295.69,220.109375,146.611091
2,3,402,CC,6,SOUTH DORCHESTER,1671,ALMON1,ALMON1_1749,LEFT,401,0,55,NaN,1,1670.78,25061.7,0,1670.78,283.757812,198.885578
3,4,1441,CC,8,SOUTH DORCHESTER,1313,ASHMO3,ASHMO3_3452,LEFT,1434,0,63,NaN,1,1312.87,19693.1,0,1312.87,223.031250,179.903998
4,5,403,CC,6,SOUTH DORCHESTER,1351,ALMON1,ALMON1_2047,RIGHT,402,0,67,NaN,1,1351.33,20269.9,0,1351.33,229.523438,189.515685